{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}

<head>
    <style>
        .form{
        margin-top: 5px;
        margin-bottom: 25px;
        }
    </style>
</head>

<body>
    <h2 style="margin-bottom: 30px;">Files</h2>

    <h6>Введите тип файла, чтобы увидеть все загруженные файлы такого типа <br>или оставьте поле пустим, чтобы увидеть все загруженные файлы</h6>
    <div class="form">
        <form action="/files/get" method="get">
        <input name="extantion" value="" type="" placeholder="extantion" >
        <button type="submit">Поиск</button>
        </form>
    </div>
    
    <h6>Загрузите файл.</h6>
    <div class="form">
        <form action="/files/create/" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <input type="submit" value="Отправить">
        </form>        
    </div>

    <h6>Удалить файл.</h6>
    <div class="form">
        <form action="/files/delete/" method="post">
        <input name="filename" value="" type="" placeholder="filename" >
        <button type="submit">Удалить</button>
        </form>
    </div>
    
    <h6>Искать</h6>
    <div class="form">
        <form action="/files/get/search" method="get">
        <input name="q" value="" type="" placeholder="filename" >
        <button type="submit">Поиск</button>
        </form>
    </div>
</body>





{% endblock %}