{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}

<head>
    <style>
        .form{
        margin-top: 15px;
        }
    </style>
</head>

<body>
    <h2>Files</h2>
    <div class="form">
        <form action="/files/get" method="get">
        <input name="extantion" value="all" type="hidden">
        <button type="submit">Список всех файлов</button>
    </form>
    </div>

    <div class="form">
        <form action="/files/get" method="get">
        <input name="extantion" value="" type="" placeholder="extantion" >
        <button type="submit">Поиск</button>
    </form>
    </div>
</body>








{% if files_list %}
    {% for file in files_list %}
        {{ file }}<br>
    {% endfor %}
{% endif %}


{% endblock %}